
/* ----набор стилей для элементов ввода, чтобы они выглядели не так уродливо------ */

.form-panel {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: WhiteSmoke;
	padding: 1em;
}

.form-group {
	margin-bottom: 20px;
	font-family: "Josefin Sans", sans-serif;
}

.form-group select {
	appearance: none;
	width: 100%;
	height: 100%;
}

.form-group .select-wrapper {
	position: relative;
	width: 100%;
	max-width: 300px;
}

.form-group .select-wrapper::after {
	content: "▼";
	font-size: 1rem;
	top: 3px;
	right: 10px;
	position: absolute;
}

.form-group>button, .form-group>label, .form-group>input, .form-group select,
	.form-group>progress, .form-group>meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	padding: 5px;
	height: 30px;
}

.form-group input[type="text"], .form-group input[type="number"], .form-group input[type="date"] {
	box-shadow: inset 1px 1px 3px #cccccc;
	border-radius: 5px;
}

.form-group label {
	font-weight: 700;
	margin-bottom: 5px;
}

.form-button {
	margin: 0 auto;
    font-size: 100%;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    height: 30px;
}



.t3-two-col {
	grid-template-columns: 1fr 1fr;
	display: grid;
	column-gap: 10px;
}