
/* ----набор стилей для элементов ввода, чтобы они выглядели не так уродливо------ */

.form-panel {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: WhiteSmoke;
	padding: 1em;
}

.form-group {
	margin-bottom: 20px;
	font-family: "Josefin Sans", sans-serif;
}


/* класс acc-form-style1 придаёт элементам ввода приличный вид */


.acc-form-style1 select {
	appearance: none;
	width: 100%;
	height: 100%;
}

.acc-form-style1 .select-wrapper {
	position: relative;
	width: 100%;
	max-width: 300px;
}

.acc-form-style1 .select-wrapper::after {
	content: "▼";
	font-size: 1rem;
	top: 3px;
	right: 10px;
	position: absolute;
}

.acc-form-style1 button, .acc-form-style1 label, .acc-form-style1 input, .acc-form-style1 select,
	.acc-form-style1 progress, .acc-form-style1 meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	padding: 5px;
	height: 30px;
}

.acc-form-element-style1 {
	display: block;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	padding: 5px;
	height: 30px;
}

.acc-form-style1 input[type="text"], .acc-form-style1 input[type="number"], .acc-form-style1 input[type="date"] {
	box-shadow: inset 1px 1px 3px #cccccc;
	border-radius: 5px;
}

.acc-form-style1 label {
	font-weight: 700;
	margin-bottom: 5px;
}

.acc-form-style1 .form-button {
	margin: 0 auto;
    font-size: 100%;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    height: 30px;
}



