/* оформление контейнера и вложенных элементов */
.wrapper {
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
}

.wrapper>div {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: lightGray;
	padding: 1em;
}

.d1>.header {
	grid-area: hd;
}

.d1>.footer {
	grid-area: ft;
}

.d1>.content {
	grid-area: main;
}

.d1>.sidebar {
	grid-area: sd;
}

.d1 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd"
		"sd sd sd main main main main main main"
		"ft ft ft ft   ft   ft   ft   ft   ft";
}

.d2>.header {
	grid-area: hd;
}

.d2>.footer {
	grid-area: ft;
}

.d2>.content {
	grid-area: main;
}

.d2>.sidebar {
	grid-area: sd;
}

.d2 {
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	grid-template-columns: 1fr;
	grid-template-areas: "hd" "main" "sd" "ft";
}

@media ( min-width : 500px) {
	.d2 {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd"
			"sd sd sd main main main main main main"
			"sd sd sd  ft  ft   ft   ft   ft   ft";
	}
}

@media ( min-width : 700px) {
	.d2 {
		grid-template-areas: "hd hd hd   hd   hd   hd   hd   hd hd"
			"sd sd main main main main main ft ft";
	}
}

.d3 {
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-auto-rows: 25px;
	gap: 10px;
}