/*
* {
  box-sizing: border-box;
}

.nested {
	border: 2px solid #ffec99;
	border-radius: 5px;
	background-color: #fff9db;
	padding: 1em;
}
.wrapper {
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
}

.wrapper>div {
	border: 2px solid #ffa94d;
	border-radius: 5px;
	background-color: #ffd8a8;
	padding: 1em;
	color: #d9480f;
}
*/

/* оформление контейнера и вложенных элементов */
.wrapper {
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
}

.wrapper>div {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: lightGray;
	padding: 1em;
}

.d2 {
	display: grid;
	grid-template-columns: 200px 200px 200px;
}

.d3 {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-column-gap: 10px;
  	grid-row-gap: 1em;	
	
}

.d4 {
	display: grid;
	grid-template-columns: 200px 1fr 1fr;
	grid-auto-rows: 150px;
	gap: 20px;
}

.d5 {
	display: grid;
	grid-template-columns: 50px repeat(3, 1fr) 50px;
}

.d6 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
}


.d7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}


.d7>.box1 {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.d7>.box2 {
  grid-column: 1;
  grid-row: 3 / 5;
}

/*
Или так:

.d7>.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.d7>.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}
*/

.d8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}



.d8>.box1 {
	/*
  grid-column: 1 / 4;
  grid-row: 1 / 3;
	*/
	
  grid-area: 1 / 1 / 3 / 4;
  
}


.d8>.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}




