.dfgrid {
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.dfgrid>div {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: WhiteSmoke;
	padding: 1em;
}