.flexPane {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100px;
	border: 1px solid black;
}

.b1 {
	background-color: #dff0d8;
}

.b2 {
	background-color: #fcf8e3;;
}

.b3 {
	background-color: #f2dede;
}

.b4 {
	background-color: LightGray;
}
.b5 {
	background-color: Aqua;
}



.flexPane div {
	width: 200px;
}


/*  demo0  */
.fp0 {
	justify-content: center;
}



/*  demo1  */
.fp1 div {
	flex: 1;
}

/*  demo2  */
.fp2 .b3 {
	flex: 1;
}








/*  demo2  */
.fp3 .b2 {
	flex: 0.5;
}

.fp3 .b3 {
	flex: 1;
}


/*  demo0  */
.fp4 {
	flex-wrap: wrap;
	align-content: flex-end;
}


.fp4 div {
	width: 300px;
}







/*  comp  */
.fpc .b2 {
	flex-grow: 1;
	overflow: auto;
}








