
/*
body {
	font-family: "Josefin Sans", sans-serif;
}


.acc-container {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: WhiteSmoke;
	display: grid;
	padding: 10px;
	
}

.acc-container>div {
	border: 2px solid gray;
	border-radius: 5px;
	background-color: WhiteSmoke;
	padding: 1em;
}



.acc-button-pane {
	display: flex;
	gap: 10px;
}


.acc-button-pane button {
	
	font-size: 100%;
	box-sizing: border-box;
	min-width: 200px;
	height: 50px;
	padding: 5px;
	max-width: 400px;
	
	
}

*/


