<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="../css/demo000.css">
<link rel="stylesheet" type="text/css" href="../../accord/css/accord.css">
<link rel="stylesheet" type="text/css" href="../css/demo-base.css">

<script type="module" src="../../accord/js/accord-publish.js"></script>

<script src="../../jquery31/js/jquery.js"></script>
<script src="../js/demo-base.js"></script>
<script src="../js/000-demo.js"></script>


</head>
<body class="acc-default-font">


  <div class="basePanel">



    <div class="titlePanel">
      <h2>template_title</h2>
      <a href="#" target="source">Исходники</a>
    </div>


    <div class="acc-button-panel">
      <button id="b1" type="button" class="acc-btn">кнопка1</button>
      <button id="b2" type="button" class="acc-btn">кнопка2</button>
    </div>


    <div class="acc-desc-panel">описание</div>

    <div class="acc-code-panel">код</div>

    <div class="workPanel acc-2cols">
      <div class="p1">work panel</div>

      <div class="p2">
        <textarea id="log1" class="fullSize"></textarea>
      </div>
    </div>



  </div>




  <!-- 
    <textarea rows="20" cols="50" id="log1"></textarea>  
 -->


</body>

</html>